@using ActiveLogin.Identity.Swedish
@model GetTestdataList.Result;

@{
    ViewBag.Title = "Testdata - Swedish Personal Identity Numbers";
}

<h1 class="h2">
    Testdata
    <small class="text-muted">Swedish Personal Identity Numbers</small>
</h1>

<p class="lead py-3">
    Pellentesque sollicitudin ex a orci hendrerit ullamcorper in in nulla. Nunc feugiat enim eget hendrerit faucibus. Nullam sed justo eros. Curabitur pellentesque ullamcorper ligula, non viverra sem blandit vel. Cras rhoncus, mi ac fringilla placerat.
</p>

<form asp-action="TestDataList" method="get">
    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="FilterDateOfBirthFrom">Date of Birth <small class="text-muted">(from)</small></label>
            <input type="date" class="form-control" id="FilterDateOfBirthFrom" name="dateofbirth.from" />
        </div>
        <div class="form-group col-md-2">
            <label for="FilterDateOfBirthTo">Date of Birth <small class="text-muted">(to)</small></label>
            <input type="date" class="form-control" id="FilterDateOfBirthTo" name="dateofbirth.to"  />
        </div>
        <div class="form-group col-md-2">
            <label for="FilterAgeFrom">Age <small class="text-muted">(from)</small></label>
            <input type="number" class="form-control" id="FilterAgeFrom" name="age.from"/>
        </div>
        <div class="form-group col-md-2">
            <label for="FilterAgeTo">Age <small class="text-muted">(to)</small></label>
            <input type="number" class="form-control" id="FilterAgeTo" name="age.to"/>
        </div>
        <div class="form-group col-md-2">
            <label for="FilterGender">Gender</label>
            <select class="form-control" id="FilterGender" name="gender">
                <option value="" selected>All</option>
                <option value="Female">Female</option>
                <option value="Male">Male</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label></label>
            <button type="submit" class="btn btn-primary btn-block">Filter</button>
        </div>
    </div>
</form>


<table class="table table-striped table-hover">
    <thead class="thead-dark thead-sticky">
    <tr>
        <th scope="col">10 Digit</th>
        <th scope="col">12 Digit</th>
        <th scope="col" class="d-none d-lg-table-cell">Year</th>
        <th scope="col" class="d-none d-lg-table-cell">Month</th>
        <th scope="col" class="d-none d-lg-table-cell">Day</th>
        <th scope="col" class="d-none d-lg-table-cell">Delimiter</th>
        <th scope="col" class="d-none d-lg-table-cell">BirthNumber</th>
        <th scope="col" class="d-none d-lg-table-cell">Checksum</th>
        <th scope="col">Gender</th>
        <th scope="col">Date of Birth</th>
        <th scope="col">Age</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var number in Model.SwedishPersonalIdentityNumbers)
        {
            <tr>
                <th scope="row">@number.TenDigitString</th>
                <td>@number.TwelveDigitString</td>
                <td class="d-none d-lg-table-cell">@number.Year</td>
                <td class="d-none d-lg-table-cell">@number.Month</td>
                <td class="d-none d-lg-table-cell">@number.Day</td>
                <td class="d-none d-lg-table-cell">@number.Delimiter</td>
                <td class="d-none d-lg-table-cell">@number.BirthNumber</td>
                <td class="d-none d-lg-table-cell">@number.Checksum</td>
                <td>
                    <i class="fal fa-@(number.GenderHint == Gender.Female ? "venus" : "mars")" title="@number.GenderHint"></i>
                    @number.GenderHint
                </td>
                <td>@number.DateOfBirthHint.ToShortDateString()</td>
                <td>@(number.AgeHint?.ToString("D") ?? "N/A")</td>
            </tr>
        }
    </tbody>
</table>