@model SwedishCoordinationNumberTestdataListViewModel;

<ul class="pagination mb-0">
    @{
        var limit = Model.Query.Limit ?? 100;
        var totalPages = (Model.Result.FilteredNumbersCount + limit - 1) / limit;

        var currentOffset = Model.Query.Offset ?? 0;
        var currentPageNumber = (currentOffset / limit) + 1;

        var rangeItems = 4;
        var rangeFromPageNumber = Math.Max(currentPageNumber - rangeItems, 1);
        var rangeToPageNumber = Math.Min(rangeFromPageNumber + rangeItems, totalPages);

        var enablePrev = currentPageNumber > 1;
        var enableNext = currentPageNumber < totalPages;

        var showFirstPage = rangeFromPageNumber > 1;
        var showLastPage = totalPages > rangeToPageNumber;
    }

    @if (enablePrev)
    {
        <li class="page-item">
            <a class="page-link" href="@Model.Query.ToQueryString(currentOffset - limit)">&laquo;</a>
        </li>
    }
    else
    {
        <li class="page-item disabled">
            <span class="page-link">&laquo;</span>
        </li>
    }

    @if (showFirstPage)
    {
        <li class="page-item"><a class="page-link" href="@Model.Query.ToQueryString(0)">1</a></li>
        <li class="page-item disabled">
            <span class="page-link">...</span>
        </li>
    }

    @for (var i = rangeFromPageNumber - 1; i < rangeToPageNumber; i++)
    {
        var offset = i * limit;
        var pageNumber = i + 1;

        if (pageNumber == currentPageNumber)
        {
            <li class="page-item active">
                <span class="page-link">@pageNumber</span>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link" href="@Model.Query.ToQueryString(offset)">@pageNumber</a>
            </li>
        }
    }

    @if (showLastPage)
    {
        <li class="page-item disabled">
            <span class="page-link" href="" tabindex="-1">
                ...
            </span>
        </li>
        <li class="page-item">
            <a class="page-link" href="@Model.Query.ToQueryString((totalPages - 1) * limit)">@totalPages</a>
        </li>
    }

    @if (enableNext)
    {
        <li class="page-item">
            <a class="page-link" href="@Model.Query.ToQueryString(currentOffset + limit)">&raquo;</a>
        </li>
    }
    else
    {
        <li class="page-item disabled">
            <span class="page-link">&raquo;</span>
        </li>
    }
</ul>
