@using ActiveLogin.Identity.Swedish
@using ActiveLogin.Identity.Swedish.Extensions
@model IdentityInfo.Core.Swedish.Requests.CoordinationNumbers.Randomize.Result;
@{
    ViewBag.Title = "Randomize - Swedish Coordination Numbers";
}

<h1 class="h2">
    Randomize
    <small class="text-muted">Swedish Coordination Numbers</small>
</h1>

<p class="lead py-3">
    Here are @Model.Count random Swedish Coordination Numbers from the list of <a asp-action="TestDataList">testdata</a>.
</p>

<div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
        <a class="btn btn-primary btn-block" href="#" onclick="location.reload(); return false;">Get @Model.Count new numbers</a>
    </div>
</div>

<div class="row">
    <div class="col-sm">
        <h2 class="h3 mt-3">Numbers</h2>
        <div class="list-group">
            @foreach (var number in Model.Numbers)
            {
                <a href="#pin-@number.To12DigitString()" class="list-group-item list-group-item-action">
                    @number.To10DigitString() <em class="text-muted">(@number.GetAgeHint() year old @(number.GetGenderHint() == Gender.Female ? "female" : "male"))</em>
                </a>
            }
        </div>
    </div>
    <div class="col-sm">
        <h2 class="h3 mt-3">10 digit versions</h2>
<textarea class="form-control" style="min-height: @(49 * Model.Count)px;">@foreach (var number in Model.Numbers)
{
    @number.To10DigitString()
    @Html.Raw("\n")
}</textarea>
    </div>
    <div class="col-sm">
        <h2 class="h3 mt-3">12 digit versions</h2>
<textarea class="form-control" style="min-height: @(49 * Model.Count)px;">@foreach (var number in Model.Numbers)
{
    @number.To12DigitString()
    @Html.Raw("\n")
}</textarea>
    </div>
</div>

<h2 class="h3 mt-4">Details</h2>

@foreach (var number in Model.Numbers)
{
    <div class="mt-4" id="pin-@number.To12DigitString()">
        <partial name="_InfoCard" model="@number" view-data="@(new ViewDataDictionary(ViewData) { { "show-description", true } })" />
    </div>
}
