@model IdentityInfo.Core.Swedish.Requests.CoordinationNumbers.Validate.Result;
@{
    ViewBag.Title = "Validate - Swedish Coordination Numbers";
}

<h1 class="h2">
    Validate
    <small class="text-muted">Swedish Coordination Numbers</small>
</h1>

<p class="lead py-3">
    A Swedish coordination number can be written in a lot of different ways. It normally takes one of the standard forms (YYMMDD-BBBC, YYMMDD+BBBC or YYYYMMDDBBBC) but can also include variations with whitespaces etc. Use the form below to parse a value and find out data that be extracted form the number such as date of birth and gender.
</p>


<section class="card bg-white text-center mb-3">
    <div class="card-body py-5">
        <div style="max-width: 400px; margin: 0 auto;">
            <form asp-action="Validate" method="get">
                <div class="form-group">
                    <label asp-for="NumberInput">Swedish Coordination Number</label>
                    <input type="tel" class="form-control form-control-lg text-center" name="number" asp-for="NumberInput" required maxlength="50" placeholder="YYMMDD-XXXX" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Validate</button>
                </div>
            </form>
        </div>
    </div>
</section>

@if (!string.IsNullOrEmpty(Model.NumberInput))
{
    if (Model.IsValid)
    {
        if (!Model.IsTestdataNumber)
        {
            <div class="alert alert-success text-center" role="alert">
                <i class="fal fa-badge-check"></i> <strong>@Model.NumberInput</strong> is recognized as a valid Swedish Coordination Number!
            </div>
        }
        else
        {
            <div class="alert alert-warning text-center" role="alert">
                <i class="fal fa-exclamation-triangle"></i> <strong>@Model.NumberInput</strong> is recognized as a valid Swedish Coordination Number!<br />
                <strong>Note:</strong> It is found in the list of <a asp-action="TestDataList">testdata</a> that is forbidden to use in production!
            </div>
        }

        if (Model.IsValid)
        {
            <partial name="_InfoCard" model="@Model.Number" view-data="@(new ViewDataDictionary(ViewData) { { "show-description", true } })" />
        }
    }
    else
    {
        <div class="alert alert-danger text-center" role="alert">
            <i class="fal fa-exclamation-square"></i> <strong>@Model.NumberInput</strong> is not recognized as a valid Swedish Coordination Number!
        </div>
    }
}
